@charset "utf-8";

html,
body {
    min-width: 320px;
}

.sec01>h1 {
    padding: 0 32px;
}

.sec01>ul {
    justify-content:space-around;
    padding: 0 32px;
gap: 8px;
    }

.sec02 {
    height: auto;
    align-items:flex-start;
}
    
    .sec02>.inner {
        padding:60px 16px;
    }

    .navigationBt{
        width: 100%;
        height: auto;
    flex: unset;}

    .swiper-button-next, .swiper-button-prev {
        top: 45%;
    }

    .sec02 h2 {
width: 100%;
padding: 0 0 20px 0;
font-size: 3rem;
font-weight: 600;
    }

    .sec02 h2 br {display: none;}

    .sec02 p {
        display: none;
    }

    .sec01>ul>li>a {
        font-size: 1.25rem;
    }

    .swiper-slide .img_box{
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .img_box div:last-child{
        height: auto;
    }

    .swiper-slide img {width: 100%;
    }

    .img_box div {width: 100%;}

    .sec02>.inner {
        height:auto}


    .sec02>.inner>.monthmenu{
        height: auto;
        flex-direction: column;
        align-items: center;
    }


    .sec03 h1 {
        font-size:1.875rem;
    }

    .box {
        width:50%;
    }
    
    .popup-wrap {
        transform:translate(-50%, -50%) scale(0.7);
    }

