@charset "UTF-8";

/* 08washcenter t */
.inner {
    width: 100%;
    gap: 30px;
    padding: 0 40px;
}
h1 { font-size: 2rem; }
section {
    width: 100%;
    flex-direction: column;
    align-items: unset;
    gap: 20px;
}
section img {
    flex: 1 1 auto;
    height: 150px;
    object-fit: cover;
}
section:nth-of-type(2) img {
    order: unset;
}
section .txtBox{
    padding: 0 50px;
}
.txtBox h2 {
    font-size: 2.187rem;
    margin: 10px 0 25px 0;
}