@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

/* Noto Sans KR 폰트 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    letter-spacing: -0.05rem;
    outline: 1px solid orange;
    line-height: 1;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorWhite: #fff;
    --cororBlack: #000;
    --colorEEE: #eee;
    --colorEEELight: #e8e8e8;
    --colorGreyBasic: #666;
    --colorGreyLight: #969696;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

h1 {
    width: 1200px;
    height: 280px;
    font-size: 2.625rem;
    font-weight: 700;
    padding: 0 0 0 62px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: url(/참고/images/kakao/ico_tit_culture.gif) no-repeat 0px 50% / 50px 50px;
}

h2 {
    width: 100%;
    height: 2.25rem;
    font-size: 2.25rem;
    font-weight: 600;
}

h3 {
    width: 100%;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 160%;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

header {
    width: 100%;
    height: 70px;
    background: var(--colorWhite);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.875rem;

}

nav a.logo {
    width: 100px;
    height: 22px;
    background: url(/참고/images/kakao/img_logo.png) no-repeat 50% 50% / cover;
    text-indent: -200px;
    overflow: hidden;
}

ul {
    display: flex;
    gap: 60px;
    font-size: 1rem;
}

ul:hover {
    color: var(--colorGreyLight);
}


ul li:hover {
    color: var(--cororBlack);
}

nav a.login {
    display: flex;
    gap: 11px;
    letter-spacing: -0.05em;
}

nav a.login::before {
    display: none;
}

nav a.login::after {
    content: "\f0dd";
    position: relative;
    top: -3px;
    left: 0;
}

section > .inner {
    flex-direction: column;
}

.slide_wrap{
    width: 100%;
    height: 740px;
    margin: 40px 0;

}

.swiper_slider{
    min-width: 1080px;
    min-height: 680px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    /* display: flex; */
    display: none;
    flex-flow: row wrap;
    padding: 90px 540px 90px 90px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    
}

span{font-size: 0.875rem;
color:var(--colorGreyLight);
font-weight: 700;
letter-spacing:0.05em;}


.swiper_slider h3{
    font-size: 2.25rem;
    line-height: 140%;
}

.swiper_slider p{
    width: 100%;
    padding: 130px 0 0 0;
line-height: 160%;
font-size: 1rem;
color: #4a4a4a;
font-weight: 400;
}

.swiper_slider > span:nth-of-type(2),span:nth-of-type(3){
    font-weight: 500;
    align-self: flex-end;
    margin: 0 30px 0 0;
}

.swiper_slider > span:first-child{
width: 100%;
}

.swiper_slider > video{
    width: 600px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0;
    transform: translate(40px, -50%);
}

section > div:nth-child(2){
    padding: 0 0 100px 0;
    flex-direction: column;
}

.buttonbox{
    display: flex;
    margin: 60px 0 50px 0;
gap:0 10px;
}

.buttonbox > button{
font-size: 1.125rem;
border-radius: 24px;
padding:10px 20px;
letter-spacing: -0.05em;
align-items: center;
text-align: center;
background:var(--colorEEE);
border: none;
cursor: pointer;
}

.buttonbox > button.on,
.buttonbox > button:hover{
    background: var(--cororBlack);
    color: var(--colorWhite);
    font-weight:700;
}

.tabbox{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0 40px;
}

.tabbox .benefit{
width: 100%;
padding: 0 40px;
display: flex;
flex-flow: row wrap;
}

.tabbox .benefit.on{ display: flex;}
.tabbox .benefit > div{
    width: calc(50% - 20px);
    min-height: 338px;
    padding: 50px 0 0;
}

/* on이 어디서 오는거지? */

.tabbox .benefit h3{
    margin:0 0 30px 0;
}

.tabbox .benefit h3::before{
    margin:0 0 30px 0;
    content: "";
width:50px;
height: 50px;
display: block;
background-color: var(--colorEEE);
}

.benefit.b01 > div:nth-child(1) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left 0px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(2) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -55px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(3) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -110px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(4) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -165px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(5) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -220px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(6) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -275px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(7) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -330px top 0px / 600px 104px; }
.benefit.b01 > div:nth-child(8) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -385px top 0px / 600px 104px; }
.benefit.b02 > div:nth-child(1) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -440px top 0px / 600px 104px; }
.benefit.b02 > div:nth-child(2) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -495px top 0px / 600px 104px; }
.benefit.b02 > div:nth-child(3) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -550px top 0px / 600px 104px; }
.benefit.b02 > div:nth-child(4) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left 0px bottom 0px / 600px 104px; }
.benefit.b02 > div:nth-child(5) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -55px bottom 0px / 600px 104px; }
.benefit.b03 > div:nth-child(1) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -110px bottom 0px / 600px 104px; }
.benefit.b03 > div:nth-child(2) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -165px bottom 0px / 600px 104px; }
.benefit.b03 > div:nth-child(3) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -220px bottom 0px / 600px 104px; }
.benefit.b03 > div:nth-child(4) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -275px bottom 0px / 600px 104px; }
.benefit.b04 > div:nth-child(1) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -330px bottom 0px / 600px 104px; }
.benefit.b04 > div:nth-child(2) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -385px bottom 0px / 600px 104px; }
.benefit.b04 > div:nth-child(3) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -440px bottom 0px / 600px 104px; }
.benefit.b04 > div:nth-child(4) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -495px bottom 0px / 600px 104px; }
.benefit.b04 > div:nth-child(5) > h3::before { background: url(/참고/images/kakao/ico_benefit.png) no-repeat left -550px bottom 0px / 600px 104px; }

.tabbox .benefit p{
    font-size:1.25rem;
    letter-spacing: -0.03em;
    line-height: 1.5625em;
}


