@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
    font-size: 14px;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}


.inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 160px 0;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec01 {
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    padding: 200px 0 0 0;
}
/* 타이틀 */
.sec01>h1 {
    width: 100%;
    color: var(--colorGreen);
}
/* 탭 */
.sec01>ul {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
gap: 80px;
}

.sec01>ul>li:nth-child(2) a
{color:rgba(0, 112, 74, 0.8);}
.sec01>ul>li:nth-child(2) a::after{
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background:rgba(0, 112, 74, 0.8);
}

.sec01>ul>li>a {
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color:var(--colorDarkGrey);

}

.sec01>ul>li>a:hover {
    color:rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec01>ul>li>a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: transparent;
}

.sec01>ul>li:hover>a::after {
    background: rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec02 {
    width: 100%;
    height: 616px;
    background: rgba(211, 17, 69, 0.07);
    display: flex;
    align-items: center;
}

.sec02>.inner {
    max-width: 1440px;
    height: 100%;
    padding: 80px 32px;
    margin: 0 auto;
}

.sec02>.inner>.monthmenu {
    width: 100%;
    height: 100%;
    display: flex;
}

.navigationBt {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.sec02 h2 {
    font-size: 4rem;
    font-weight: 700;
    color:var(--colorDarkMarjenta);
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    line-height: 1;
}

.sec02 h3{
    font-size: 1.28rem;
    color: rgba(0, 112, 74, 0.8);
    font-weight: 600;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;}

.sec02 p {
    color:rgba(0,0,0,0.7);
    font-size: 1.42rem;
    font-weight: 600;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
position: relative
}


.swiper-slide {
    width: 300px;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}


.swiper-slide .img_box {
    display: flex;
flex-direction: column;
border-radius: 20px;
border: 2px solid var(--colorWhite);
background: var(--colorWhite);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
overflow: hidden;
cursor: pointer;}

.img_box>div:first-child{
    background: rgba(211, 17, 69, 0.05);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img_box div:last-child{
    width:100%;
 height: 100px;
 display: flex;
 flex-direction:column;
 justify-content: center;
 padding: 20px 16px 24px 16px;

   }

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    color:var(--colorGreen);
    top: 90%;
    margin: 0 !important;
    height: 40px;
   }

   .swiper-button-next,
   .swiper-button-prev{
    transform:scale(0.8);
   }


.sec03 {
    max-width: 1440px;
    height: auto;
    align-items: center;
    margin: 0 auto;
}

.sec03 h1 {
    padding-top: 120px;
    width: 100%;
    color: var(--colorGreen);
}

.sec03>.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 28px;
}

.sec03>.inner>.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 352.5px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.box img {
    width: 100%;
}

.box>span {
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box>p {
    font-size: 1.25rem;
}

.box>span,
.box>p {
    width: 90%;
    text-align: center;
}


.popup-wrap{
    width: 520px;
    height: auto;
    border-radius: 40px;
    background: var(--colorWhite);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    transition: all 0.5s;}

    .popup-wrap{display: none;}

.popup-wrap > .top {
    width: 100%;
    height: 320px;
    background: rgba(211, 17, 69, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-wrap > .top > img {
width: 60%;

}


.popup-wrap > .bottom {
    height: auto;
    display: flex;
flex-direction: column;
align-items: center;
}

.popup-wrap > .bottom .cardsec01 {
    display: flex;
    flex-direction: column;
    padding: 40px 48px 0 48px;
    gap: 20px;
}

.popup-wrap h2 {font-size:2rem}

.popup-wrap > .bottom .cardsec01 p {
    font-size:1.28rem
}

.popup-wrap > .bottom .cardsec01 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-wrap > .bottom .cardsec01 h4 {
    font-size:1.42rem
}

.popup-wrap > .bottom .cardsec01 .price-box > button {
    width: 148px;
    height: 48px;
    display: flex;
    font-family: inherit;
    font-size: 1.28rem;
    color: var(--colorWhite);
    background: #00A5B9;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border:none;
    gap:3%;
    cursor: pointer;
}

.popup-wrap button > img {
    width:auto;
    height: 60%;
}

/* 상세정보버튼 */
.bottom > button {
    width: calc(100% - 96px);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0px 32px;
    margin: 20px 0 16px 0;
    border-radius: 8px;
    border:2px solid rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1.42rem;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.bottom > button img {
    width: 24px;
    height: auto;
    color: rgba(0, 0, 0, 0.7);
}

/* 버튼클릭시 열림 */
.cardsec02 {
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

.cardsec02 h4 {
    font-size: 1.14rem;
    color: rgba(0, 0, 0, 0.7);
}

caption, legend {
    font-size: 1px;
    text-indent: -9999rem;
    display: none;
}

table{width:100%;
    height: auto;}

tbody th{
font-size:1rem;
font-weight: 500;
color: rgba(0, 0, 0, 0.7);
}

tbody tr {
    text-align: left;
}

tbody .right {text-align: right;
}

tbody .right .num{
    text-align: right;
    font-size:1rem;
font-weight: 500;
color: rgba(0, 0, 0, 0.7);
}

.cardsec02 p {
    font-size:1rem;
font-weight: 500;
color: rgba(0, 0, 0, 0.7);
}


.cardsec02 ul 
{display: flex;
flex-direction: column;
padding: 6px 0;
gap: 4px;
}

.cardsec02 li {
    color: rgba(0, 0, 0, 0.7)  
}

.txt {padding: 8px 0 0 0;}

/* .cardsec02 {display: none;} */




.cardsec03 {
    width: 100%;
    height: 40px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    gap:5px;
    align-items: center;
    justify-content: center;
    margin: 8px 0 1px 0;
}

.cardsec03 h4 {
    font-size: 1.14rem;
    color: var(--colorDarkGrey);
}

.cardsec03 span {
    font-size:1rem;
font-weight: 500;
color: var(--colorDarkGrey);
}

