@charset "utf-8";

html,
body {
    min-width: 641px;}

.sec01{height: auto;
padding: 200px 0 32px 0;
justify-content: flex-start;}

.sec01>ul
{
margin: 0 auto;
justify-content:space-between;
padding: 0 16%;
gap: unset;
}

.sec02>.inner {
    padding: 104px 0 104px 16px;
}

.sec02 h2 {font-size: 3rem;}
.sec02 h3 {font-size: 1.5rem;}
.sec02 p {font-size: 1rem;
line-height: 1.4;}



.sec03>.inner>.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box {
    width: 25%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:0 0 24px 0;
}

.box>span {
    font-size: 1.25rem;
}

.box>p {
    font-size: 1rem;
}