@charset "utf-8";

html,
body {
    min-width: 320px;
}

h1 {
    font-size: 1.875rem;
}

header {
    width: 100%;
    height: 60px;
}

.logo, .footer_logo {
    width: 80px;
    height: 60px;
}


nav ul.gnb li.bt {
    top:3px;
    right: 9px;
}

.material-symbols-outlined{
    padding: 5px 0 0 0;}

.sec01 > .inner {
width:100%;}

.sec02 {width: 100%;}

.sec02 .inner {
    height: auto;
    gap: 20px;
    padding: 0 0 40px 0;
}

.sec02 h1 {
    padding: 60px 0 0 0px;
    width: 80%;
    align-items: center;
}

.sec02 .menus>div h2 {
    font-size: 1.25rem;
}

.sec02 .menus {
    width: 90%;
    height:100%;
    position: unset;
}

.sec02 img {
    width: 240px;
    position: unset;
}

.sec02 .menus > div {
    position: unset;
}

.sec02 .menus>div:first-child div,
.sec02 .menus>div:nth-child(2) div,
.sec02 .menus>div:nth-child(3) div,
.sec02 .menus>div:nth-child(4) div
{position: unset;
}

.sec02 .menus>div:first-of-type,
.sec02 .menus>div:nth-of-type(2),
.sec02 .menus>div:nth-of-type(3),
.sec02 .menus>div:nth-of-type(4){
    position: unset;
}

.sec02 .menus>div:first-of-type>a>div,
.sec02 .menus>div:nth-of-type(3)>a>div
{order:2;}

.sec02 .menus>div:nth-of-type(2),
.sec02 .menus>div:nth-of-type(4){
 display: flex;
 justify-content: flex-end;
}

.sec02 .menus>div:nth-of-type(2) div,
.sec02 .menus>div:nth-of-type(4) div{
    display: flex;
    flex-direction: column;
   justify-content: center;}

   
   .sec03 {height: 800px;}

   .sec03 .inner{width: 100%;
height:100%;
gap: 64px;
padding: 72px 0 0 0;}

.sec03 .KateBox {
    height: 440px;
}

.sec03 .KateBox > .kategorie:nth-of-type(3) {
    display: none;
}

.sec03 .KateBox>.kategorie p
.sec03 .KateBox>.kategorie h3 {
    font-size:1rem;
    line-height:1
}

.sec04 {
    height: 800px;
    display: flex;
    flex-direction: column;
}

.sec04>.inner{
flex-direction: column;
}

.sec04 .inner .morebt {
    justify-content: flex-end;
}

.sec04 h1 {font-size: 4rem;
text-align: left;}

.sec04 p {
    width: 60%;
    font-size: 1rem;
    text-align: left;
}

.sec04 > div {padding: 40px 16px;
height: 100%;}

.sec04>.inner:first-child
{height: 752px;}

.sec04>.inner:last-child {
    height: 752px;
}

.sec04 > div > .left,
.sec04 > div > .right {
    height: 100%;
    position: unset;
    background-image: none;
}

.sec04 .left_over h1{
 padding: 0;
 font-size: 4rem;
}

.sec04 .inner .right_over h1 {
    padding: 0;
}

.sec04 .left_over, .sec04 .right_over {
    width:100%;height: 100%;
    padding: 0;
    gap: 5px;
}

.sec04 .inner .right_over {
    padding: 0;
    flex-direction: column-reverse;
justify-content: flex-end;}

.sec04>div>.right {
    width: 100%;
    justify-content: flex-start;
}

.sec04 .inner .right_over .morebt,
.sec04 .inner .left_over .morebt
{padding-top: 40px;}



.sec05 {
    width: 100%; height: 400px;
}

.sec05 .inner {
    height: 100%;
    padding: 80px 16px 16px 16px;
    gap: 20px;
}

.sec05 .inner h1 {
    padding: 0;
}

.sec05 .inner h2 {
    font-size: 1rem;}

.sec05 .inner .insta {
    height: 254px;
    gap: 71px;
}

.sec05 .instapic {
    flex:unset
}

.sec05 .inner .insta > div + div {
    flex-wrap: unset;
    align-items: flex-start;
}