@charset "utf-8";

html,
body {
    min-width: 320px;
}

h1 {
    font-size: 1.875rem;
}
/* 나브헤더 */
header {
    width: 100%;
    height: 60px;
}

.logo, .footer_logo {
    width: 80px;
    height: 60px;
}


nav ul.gnb li.bt {
    top:3px;
    right: 9px;
}

button .material-symbols-outlined{
 padding: 5px 0 0 0;
}


/* 섹션1 */
.sec01>h1 {
    padding: 0 32px;
}

.sec01>ul {
    justify-content:space-around;
    padding: 0 32px;
gap: 8px;
    }

.sec02 {
    height: auto;
    align-items:flex-start;
}
    
    .sec02>.inner {
        padding:60px 16px;
    }

    .navigationBt{
        width: 100%;
        height: auto;
    flex: unset;}

    .swiper-button-next, .swiper-button-prev {
        top: 45%;
    }

    .sec02 h2 {
width: 100%;
padding: 0 0 20px 0;
font-size: 3rem;
font-weight: 600;
    }

    .sec02 h2 br {display: none;}

    .sec02 p {
        display: none;
    }

    .sec01>ul>li>a {
        font-size: 1.25rem;
    }

    .swiper-slide .img_box{
        width: 92%;
        height: auto;
        box-shadow: none;
    }

    .img_box div:last-child{
        height: auto;
    }

    .swiper-slide img {width: 100%;
    }

    .img_box div {width: 100%;}

    .sec02>.inner {
        height:auto}


    .sec02>.inner>.monthmenu{
        height: auto;
        flex-direction: column;
        align-items: center;
    }


    .sec03 h1 {
        font-size:1.875rem;
    }

    .box {
        width:50%;
    }
    
    .popup-wrap {
        transform:translate(-50%, -50%) scale(0.7);
    }

    /* 푸터 */
    footer .inner > div:first-of-type {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0 0 16px 0;
    }
    
    footer .footer_left {
        flex-direction: column;
    }
    
    footer .bf::before{display: none;}
    
    footer ul {
        display: flex;
        flex-direction: column;
    }
    
    footer>.inner>.footer_bottom {
        padding: unset;
        flex-direction: column;
        gap: 16px;
        padding-top:16px ;
        align-items: center;
    }
    
    footer p{
        padding:20px 0 0 0 ;
        text-align: center;
    }
    
    footer .footer_bottom > .footer_left span{
    font-size: 1rem;
    font-weight: 500;
    }
    
    .footer_contents .footer_left{
    flex-direction: column;
    justify-content: center;
    }
    
    footer .footer_bottom >.footer_left {
        flex-direction: row;
        justify-content: center;
        }
    
    footer .footer_bottom > .footer_right {
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0;
    }
    
    footer .footer_bottom > .footer_right a{
        width: 300%;
        margin:0;
        text-align: center;;
    }
    
    footer .fa-brands{
        height: 100%;
        padding: 0 20px;
    }
    
    select{order: 2;}
