@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
    font-size: 14px;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1,h2 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

section.inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec01 {
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    padding: 200px 0 0 0;
}


.sec01>h2 {
    width: 100%;
    color: var(--colorGreen);
}

.sec01>ul {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
gap: 80px;
}

.sec01>ul>li>a {
    font-size: 1.75rem;
    font-weight: 600;
    
}

.sec02 {
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
gap: 28px;
}

.sec02 h1 {
    padding-top: 120px;
    width: 100%;
    text-align: left;
    border-bottom:4px solid var(--colorFontGrey) ;
    color:rgba(0,0,0,0.7)
}

.sec02>.inner {
    padding-top: 28px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px 0;
}

.sec02 img{
width: 100%;}