@charset "utf-8";

html,
body {
    min-width: 641px;}

    .sec01{height: auto;
        padding: 200px 0 32px 0;
        justify-content: flex-start;}
        
        .sec01>ul
        {
        margin: 0 auto;
        justify-content:space-between;
        padding: 0 16%;
        gap: unset;
        }

        .sec02 {
            max-width: 100%;}