@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
    font-size: 14px;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color:rgba(0,0,0,0.7);
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}

.inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec01 {
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    padding: 200px 0 0 0;
}

.sec01>h1 {
    width: 100%;
    color: var(--colorGreen);
}

.sec01>ul {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
gap: 80px;
}

.sec01>ul>li:nth-child(1) a
{color:rgba(0, 112, 74, 0.8);}
.sec01>ul>li:nth-child(1) a::after{
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background:rgba(0, 112, 74, 0.8);
}

.sec01>ul>li>a {
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color:var(--colorDarkGrey);
    letter-spacing: -4px;

}

.sec01>ul>li>a:hover {
    color:rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec01>ul>li>a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: transparent;
}

.sec01>ul>li:hover>a::after {
    background: rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec02 {
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
gap: 28px;
}

.sec02 h1 {
    width: 1440px;
    padding-top: 120px;
    font-size: 4rem;
    font-weight: 700;
    color:var(--colorDarkMarjenta);
    text-align: left;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    line-height: 1;
}

.sec02>.inner {
    padding-top: 28px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px 0;
}

.card {
    max-width: 30%;
    height: 520px;
    border: 1px solid var(--colorRightGrey);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover img{
    transform: scale(1.2);
    transition: all 0.3s;
}

.card>.imgBox, .card .text {
    flex:1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card img {
width: auto;
height: 100%;
}

.card .text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
color: var(--colorWhite);
padding: 44px 28px;
gap: 10%
}

.card .text>span {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
}

.card .text>p {
    width: 100%;
}

.card .text>h2 {
    width: 100%;
    height: 88px;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card:hover .text{
    background: var(--colorGreen);
    transition: all 0.3s;
}

.card:hover span,
.card:hover p,
.card:hover h2{
    color: var(--colorWhite);
    transition: all 0.3s;
}