@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
    font-size: 14px;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
    --swiper-theme-color: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family:inherit;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec01 {
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    padding: 200px 0 0 0;
}

.sec01 > h1 {
    width: 100%;
    color: var(--colorGreen);
}

.sec01 > ul {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.sec01 > ul > li:nth-child(1) a {
    color: rgba(0, 112, 74, 0.8);
}
.sec01 > ul > li:nth-child(1) a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: rgba(0, 112, 74, 0.8);
}

.sec01 > ul > li > a {
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--colorDarkGrey);
    letter-spacing: -4px;

}

.sec01 > ul > li > a:hover {
    color: rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec01 > ul > li > a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: transparent;
}

.sec01 > ul > li:hover > a::after {
    background: rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec02 {
    max-width: 1440px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sec02 .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 308px;
    padding-top: 120px;
    text-align: left;
    align-items: flex-start;
    gap: 24px;
}

.sec02 .title h1 {
    text-align: left;
    color: var(--colorDarkMarjenta);
}

.sec02 button {
    display: block;
    width: 104px;
    height: 40px;
    margin: 40px 0;
    color: var(--colorGreen);
    border: 1px solid var(--colorGreen);
    border-radius: 20px;
    background-color: var(--colorWhite);
    cursor: pointer;
}

.sec02 button:hover {
    color: var(--colorWhite);
    background-color: var(--colorGreen);
    transition: all 0.3s;
}

.sec03 {
    padding-bottom: 120px;
}

.sec03 > .inner {
    width: 100%;
    height: 456px;
    background: var(--colorGreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper {
    max-width: 1440px;
    height: 300px;
}

.swiper-slide {
    max-width: 30%;
    max-height: 520px;
    border: 1px solid var(--colorRightGrey);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.card:nth-child(4) {
    border: 1px solid var(--colorMarjenta);
    box-shadow: 1px 1px 1px #d31145;}


.swiper-slide:hover img {
    transform: scale(1.2);
    transition: all 0.3s;
}

.swiper-slide img {
    width: auto;
    height: 100%;
}

.swiper-slide .text{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
position: absolute;
bottom: 0; left: 0;
background: rgba(255,255,255,0.8);
}

.swiper-slide .text h2{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
}

.swiper-slide:hover h2{
    color: var(--colorDarkMarjenta);
    transition: all 0.3s;
}




.swiper-button-prev:after,
.swiper-button-next:after{
    color: var(--colorDarkMarjenta);
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}