@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
    font-size: 14px;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}


header {
    width: 100%;
    height: 104px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--colorWhite);
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header::after {
    width: 100%;
    /* height: 300px; */
    height: 0;
    background: var(--colorWhite);
    position: absolute;
    top: 104px;
    left: 0;
    display: block;
    content: "";
    transition: height 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header.on::after {
    height: 240px;
}

header .inner {
    max-width: 1704px;
    padding: 0 16px;
    flex-direction: row;
    height: 100%;
    background: inherit
}

.innerLogo,
.innerMenu {
    flex: 1 1 50%
}

.innerLogo {
    display: flex;
    align-items: center;
}

.logo, .footer_logo {
    width: 160px;
    height: 64px;
    text-indent: -400px;
    background: url(/ex/3.imgs/6.krispykream/logo.svg)no-repeat 50% 50%/100%;
    overflow: hidden;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--colorDarkGrey);
}

nav .gnb {
    display: inherit;
    align-items: center;
    width: 100%;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 16px 0;
    position: relative;
    z-index: 50;
}

nav .gnb > li {
    flex: 1 1 20%;
    height: 36px;
    position: relative;
}

.global,
.gnb {
    flex: 1 0 50%;
}

.global {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 21px;
    padding-right:8%;
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 100;
}

.global a {
    font-size: 14px;
    font-weight: 500;
}

nav .gnb > li > a {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background: #fff;
}


nav .gnb > li:hover {
    color: var(--colorGreen);
    transition: all 0.5s;
}

nav .gnb > li > a::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

nav .gnb > li:hover > a::after {
    background: var(--colorGreen);
    transition: all 0.5s;
}

nav .gnb > li > ul.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 52px;
    z-index: 5;
    transform: translateY(-300px);
    transition: transform 0.28s;
}
header.on nav ul.gnb > li > ul.submenu {
    transform: translateY(0);
}
nav ul.gnb > li > ul.submenu > li {
    width: 160px;
    padding: 0 0 20px 0;
    font-size: 16px;
}

nav ul.gnb > li > ul.submenu > li:hover {
    color: var(--colorGreen)
}

nav ul.gnb > li > ul.submenu > li:last-child li:last-child {
    height: 100%;
}


.btn.menu-toggle {
    display: none;
}

nav .gnb > li.bt {
    display: none;
}


.inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 160px 0;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec01 {
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    padding: 200px 0 0 0;
}
/* 타이틀 */
.sec01>h1 {
    width: 100%;
    color: var(--colorGreen);
}
/* 탭 */
.sec01>ul {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
gap: 80px;
}

.sec01>ul>li:nth-child(2) a
{color:rgba(0, 112, 74, 0.8);}
.sec01>ul>li:nth-child(2) a::after{
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background:rgba(0, 112, 74, 0.8);
}

.sec01>ul>li>a {
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color:var(--colorDarkGrey);

}

.sec01>ul>li>a:hover {
    color:rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec01>ul>li>a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: transparent;
}

.sec01>ul>li:hover>a::after {
    background: rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}




.sec02 {
    width: 100%;
    height: 616px;
    background: rgba(211, 17, 69, 0.07);
    display: flex;
    align-items: center;
}

.sec02>.inner {
    max-width: 1440px;
    height: 100%;
    padding: 80px 32px;
    margin: 0 auto;
}

.sec02>.inner>.monthmenu {
    width: 100%;
    height: 100%;
    display: flex;
}

.navigationBt {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.sec02 h2 {
    font-size: 4rem;
    font-weight: 700;
    color:var(--colorDarkMarjenta);
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    line-height: 1;
}

.sec02 h3{
    font-size: 1.28rem;
    color: rgba(0, 112, 74, 0.8);
    font-weight: 600;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;}

.sec02 p {
    color:rgba(0,0,0,0.7);
    font-size: 1.42rem;
    font-weight: 600;
}

/* 스와이퍼 */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
position: relative;
}


.swiper-slide {
    width: 300px;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}


.swiper-slide .img_box {
    width: 90%;
    display: flex;
flex-direction: column;
border-radius: 20px;
border: 2px solid var(--colorWhite);
background: var(--colorWhite);
box-shadow: 0 0 10px #26262618;
overflow: hidden;
cursor: pointer;
position: relative;
z-index: 50;}

.swiper-slide .img_box:hover {
    scale: 1.02;
box-shadow: 0 0 20px #26262650;
transition: all 0.3s;
}

.img_box>div:first-child{
    background: rgba(211, 17, 69, 0.05);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img_box div:last-child{
    width:100%;
 height: 100px;
 display: flex;
 flex-direction:column;
 justify-content: center;
 padding: 20px 16px 24px 16px;

   }
/* 뱃지 */

.swiper-slide .badge-wrap {
    width: auto;
    position: absolute;
    overflow:hidden;
    top: 10px; left: 10px;
    padding: 0 10px;
    align-items: center;
    display: flex;
    -webkit-box-pack: start;
    border: solid 1px #1CAC68;
    border-radius: 9px;
    z-index: 5;
    background: var(--colorWhite);
}

.badge-sm-round {
  display: flex;
  justify-content: center;
  padding: 2px 0 3px 0;
}

.badge-wrap .badge {
    width: 100%;
color: inherit;
font-weight: 600;
display:inline-block;
position: relative;
font-size: 10px;
line-height: 13px;
letter-spacing:-0.025em;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    color:var(--colorGreen);
    top: 90%;
    margin: 0 !important;
    height: 40px;
   }

   .swiper-button-next,
   .swiper-button-prev{
    transform:scale(0.8);
   }


.sec03 {
    max-width: 1440px;
    height: auto;
    align-items: center;
    margin: 0 auto;
}

.sec03 h1 {
    padding-top: 120px;
    width: 100%;
    color: var(--colorGreen);
}

.sec03>.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 28px;
}

.sec03>.inner>.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 352.5px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.box:hover {
    scale: 1.1;
    transition: all 0.3s;
}

.box:hover>span  {
    color: var(--colorGreen);
    transition: all 0.3s;
}

.box img {
    width: 100%;
}

.box>span {
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box>p {
    font-size: 1.25rem;
}

.box>span,
.box>p {
    width: 90%;
    text-align: center;
}

.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-wrap{
    width: 520px;
    height: auto;
    border-radius: 40px;
    background: var(--colorWhite);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    transition: all 0.5s;}

    .popup-wrap{display: none;}

.popup-wrap > .top {
    width: 100%;
    height: 320px;
    background: rgba(211, 17, 69, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-wrap > .top > img {
width: 60%;

}


.popup-wrap > .bottom {
    height: auto;
    display: flex;
flex-direction: column;
align-items: center;
}

.popup-wrap > .bottom .cardsec01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 48px 0 48px;
    gap: 20px;
}

.popup-wrap h2 {font-size:2rem}

.popup-wrap > .bottom .cardsec01 p {
    font-size:1.28rem
}

.popup-wrap > .bottom .cardsec01 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-wrap > .bottom .cardsec01 h4 {
    font-size:1.42rem
}
/* 주문하기버튼 */
.popup-wrap > .bottom .cardsec01 .price-box > .button {
    width: 148px;
    height: 48px;
    display: flex;
    background: #00A5B9;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border:none;
    gap:3%;
    cursor: pointer;
}

.popup-wrap > .bottom .cardsec01 .price-box > .button span {
    font-family: inherit;
    font-size: 1.28rem;
    color: var(--colorWhite);
}

.popup-wrap .button img {
    width:auto;
    height: 60%;
}

/* 상세정보버튼 */
.bottom > button {
    width: calc(100% - 96px);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0px 32px;
    margin: 20px 0 16px 0;
    border-radius: 8px;
    border:2px solid rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1.42rem;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.bottom > .button img {
    width: 24px;
    height: auto;
    color: rgba(0, 0, 0, 0.7);
}

/* 버튼클릭시 열림 */
.cardsec02 {
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

.cardsec02 h4 {
    font-size: 1.14rem;
    color: rgba(0, 0, 0, 0.7);
}

caption, legend {
    font-size: 1px;
    text-indent: -9999rem;
    display: none;
}

table{width:100%;
    height: auto;}

tbody th{
font-size:1rem;
font-weight: 500;
color: rgba(0, 0, 0, 0.7);
}

tbody tr {
    text-align: left;
}

tbody .right {text-align: right;
}

tbody .right .num{
    text-align: right;
    font-size:1rem;
font-weight: 500;
color: rgba(0, 0, 0, 0.7);
}

.cardsec02 p {
    font-size:1rem;
font-weight: 500;
color: rgba(0, 0, 0, 0.7);
}


.cardsec02 ul 
{display: flex;
flex-direction: column;
padding: 6px 0;
gap: 4px;
}

.cardsec02 li {
    color: rgba(0, 0, 0, 0.7)  
}

.txt {padding: 8px 0 0 0;}

.cardsec02 {display: none;}




.cardsec03 {
    width: 100%;
    height: 40px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    gap:5px;
    align-items: center;
    justify-content: center;
    margin: 8px 0 1px 0;
}

.cardsec03 h4 {
    font-size: 1.14rem;
    color: var(--colorDarkGrey);
}

.cardsec03 span {
    font-size:1rem;
font-weight: 500;
color: var(--colorDarkGrey);
}

/* 푸터 */

footer {
    width: 100%;
    height: 480px;
    background: #41464e;
}

footer .inner {
    max-width: 1704px;
    padding: 0 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .inner > div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 0 80px 0;
    align-items: flex-end;
}

footer .footer_left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 20px;
}

footer ul {
    font-style: normal;
}
footer .bf::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 6px;
    width: 1px;
    height: 1rem;
    background: #fff;
}


footer ul li {
    color: var(--colorWhite);
    line-height: 2;
    display: inline-block;
    position: relative;
    padding: 0 20px 0 0;
}

footer .footer_bottom {
    width: 100%;
    height: 222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer  p {
    width: 100%;
    color:rgba(255, 255, 255, 0.5);
padding-bottom: 40px;
text-align: left;}

footer .footer_bottom > .footer_left span {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

footer .footer_bottom > .footer_right {
    display: flex;
    margin: 0 0 0 20px;
}

footer .footer_bottom > .footer_right a {
    width: 35px;
    height: 35px;
    margin: 0 0 0 20px;
}


footer .fa-brands {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
}

select {
    width: 216px;
    height: 48px;
    appearance: none;
    background: url(/ex/3.imgs/6.krispykream/footer/화살표.svg) no-repeat 95% 50%;
    background-size: 20px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    filter: invert(75%);
    font-family: 'Noto Sans KR', sans-serif;
}

option {
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    font-size: 14px;
    font-weight: 700;
}
