@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
    font-size: 14px;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color:rgba(0,0,0,0.7);
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}



header {
    width: 100%;
    height: 104px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--colorWhite);
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header::after {
    width: 100%;
    /* height: 300px; */
    height: 0;
    background: var(--colorWhite);
    position: absolute;
    top: 104px;
    left: 0;
    display: block;
    content: "";
    transition: height 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header.on::after {
    height: 240px;
}

header .inner {
    max-width: 1704px;
    padding: 0 16px;
    flex-direction: row;
    height: 100%;
    background: inherit
}

.innerLogo,
.innerMenu {
    flex: 1 1 50%
}

.innerLogo {
    display: flex;
    align-items: center;
}

.logo, .footer_logo {
    width: 160px;
    height: 64px;
    text-indent: -400px;
    background: url(/ex/3.imgs/6.krispykream/logo.svg)no-repeat 50% 50%/100%;
    overflow: hidden;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--colorDarkGrey);
}

nav .gnb {
    display: inherit;
    align-items: center;
    width: 100%;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 16px 0;
    position: relative;
    z-index: 50;
}

nav .gnb > li {
    flex: 1 1 20%;
    height: 36px;
    position: relative;
}

.global,
.gnb {
    flex: 1 0 50%;
}

.global {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 21px;
    padding-right:8%;
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 100;
}

.global a {
    font-size: 14px;
    font-weight: 500;
}

nav .gnb > li > a {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background: #fff;
}


nav .gnb > li:hover {
    color: var(--colorGreen);
    transition: all 0.5s;
}

nav .gnb > li > a::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

nav .gnb > li:hover > a::after {
    background: var(--colorGreen);
    transition: all 0.5s;
}

nav .gnb > li > ul.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 52px;
    z-index: 5;
    transform: translateY(-300px);
    transition: transform 0.28s;
}
header.on nav ul.gnb > li > ul.submenu {
    transform: translateY(0);
}
nav ul.gnb > li > ul.submenu > li {
    width: 160px;
    padding: 0 0 20px 0;
    font-size: 16px;
}

nav ul.gnb > li > ul.submenu > li:hover {
    color: var(--colorGreen)
}

nav ul.gnb > li > ul.submenu > li:last-child li:last-child {
    height: 100%;
}


.btn.menu-toggle {
    display: none;
}

nav .gnb > li.bt {
    display: none;
}

.inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sec01 {
    width: 100%;
    height: 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 104px;
    padding: 200px 0 0 0;
}

.sec01>h1 {
    width: 100%;
    color: var(--colorGreen);
}

.sec01>ul {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
gap: 80px;
}

.sec01>ul>li:nth-child(3) a
{color:rgba(0, 112, 74, 0.8);}
.sec01>ul>li:nth-child(3) a::after{
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background:rgba(0, 112, 74, 0.8);
}

.sec01>ul>li>a {
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color:var(--colorDarkGrey);
    letter-spacing: -4px;

}

.sec01>ul>li>a:hover {
    color:rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec01>ul>li>a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: transparent;
}

.sec01>ul>li:hover>a::after {
    background: rgba(0, 112, 74, 0.8);
    transition: all 0.3s;
}

.sec02 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
gap: 28px;
}

.sec02 h1 {
    max-width: 1440px;
    padding-top: 120px;
    font-size: 4rem;
    font-weight: 700;
    color:var(--colorDarkMarjenta);
    text-align: left;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    line-height: 1;
}

.sec02>.inner {
padding-top: 28px;
    width: 100%;
    height: 548px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px 0;
}

.card {
    max-width: 30%;
    height: 520px;
    border: 1px solid var(--colorRightGrey);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover img{
    transform: scale(1.2);
    transition: all 0.3s;
}

.card>.imgBox, .card .text {
    flex:1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card img {
width: auto;
height: 100%;
}

.card .text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
color: var(--colorWhite);
padding: 44px 28px;
gap: 10%
}

.card .text>span {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
}

.card .text>p {
    width: 100%;
}

.card .text>h2 {
    width: 100%;
    height: 88px;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card:hover .text{
    background: var(--colorGreen);
    transition: all 0.3s;
}

.card:hover span,
.card:hover p,
.card:hover h2{
    color: var(--colorWhite);
    transition: all 0.3s;
}

footer {
    width: 100%;
    height: 480px;
    background: #41464e;
}

footer .inner {
    max-width: 1704px;
    padding: 0 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .inner > div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 0 80px 0;
    align-items: flex-end;
}

footer .footer_left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 20px;
}

footer ul {
    font-style: normal;
}
footer .bf::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 6px;
    width: 1px;
    height: 1rem;
    background: #fff;
}


footer ul li {
    color: var(--colorWhite);
    line-height: 2;
    display: inline-block;
    position: relative;
    padding: 0 20px 0 0;
}

footer .footer_bottom {
    width: 100%;
    height: 222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer  p {
    width: 100%;
    color:rgba(255, 255, 255, 0.5);
padding-bottom: 40px;
text-align: left;}

footer .footer_bottom > .footer_left span {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

footer .footer_bottom > .footer_right {
    display: flex;
    margin: 0 0 0 20px;
}

footer .footer_bottom > .footer_right a {
    width: 35px;
    height: 35px;
    margin: 0 0 0 20px;
}


footer .fa-brands {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
}

select {
    width: 216px;
    height: 48px;
    appearance: none;
    background: url(/ex/3.imgs/6.krispykream/footer/화살표.svg) no-repeat 95% 50%;
    background-size: 20px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    filter: invert(75%);
    font-family: 'Noto Sans KR', sans-serif;
}

option {
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    font-size: 14px;
    font-weight: 700;
}