@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
    line-height: 1.4;
    color: var(--colorDarkGrey);
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorGreen: #00704A;
    --colorMarjenta: #d31145;
    --colorDarkMarjenta: #B80F3C;
    --colorRightGrey: #E8E8E8;
    --colorFontGrey: #C4C4C4;
    --colorDarkGrey: #252525;
    --colorWhite: #fff;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 3rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

a.material-symbols-outlined {
    font-size: 64px;
    font-weight: 1;
    line-height: 64px;
    color: var(--colorWhite);
}

.inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    height: 104px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--colorWhite);
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header::after {
width: 100%;
/* height: 300px; */
height: 0;
background: var(--colorWhite);
position: absolute;
top:104px;
left:0;
display: block;
content: "";
transition: height 0.5s;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header.on::after {
height: 240px;
}

header .inner {
    max-width: 1704px;
    padding: 0 16px;
    flex-direction: row;
    height: 100%;
    background: inherit
}

.innerLogo,
.innerMenu {
    flex: 1 1 50%
}

.innerLogo {
    display: flex;
    align-items: center;
}

.logo,.footer_logo {
    width: 160px;
    height: 64px;
    text-indent: -400px;
    background: url(/ex/3.imgs/6.krispykream/logo.svg)no-repeat 50% 50%/100%;
    overflow: hidden;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--colorDarkGrey);
}

nav .gnb {
    display: inherit;
    align-items: center;
    gap: 88px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 16px 0;
}

nav .gnb > li {
    width: 100%;
    height: 36px;
    position: relative;
}

.global,
.gnb {
    flex: 1 0 50%;
}

.global {
    display: flex;
    align-items: flex-end;
    gap: 21px;
    padding: 0 0 12px 0;
}

.global a {
    font-size:14px;
    font-weight: 500;
}

nav .gnb>li>a {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

nav .gnb>li:hover {
    color: var(--colorGreen)
}

nav .gnb>li>a::after {
    display: block;
    content: '';
    width: 96%;
    height: 3px;
    background: transparent;
}

nav .gnb>li:hover>a::after {
    background: var(--colorGreen)
}

nav ul.gnb > li > ul.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 52px;
}
nav ul.gnb > li > ul.submenu {
    display: none;
}
nav ul.gnb > li > ul.submenu > li {
width: 160px;
    padding: 0 0 20px 0;
    position: relative;
    z-index: 100;
    font-size: 16px;
}

nav ul.gnb > li > ul.submenu > li:hover{
    color: var(--colorGreen)
}

nav ul.gnb > li > ul.submenu > li:last-child li:last-child
{height: 100%;}


.btn.menu-toggle{
    display: none;
}


html,
body {width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0 auto;
    height: auto;
    overflow-x: hidden;
}

body {
    background: #fff;
    font-family: inherit;
    font-size: 14px;
    color: #000;
  }


.sec01>.inner {
   max-width: 1704px;
    justify-content: center;
    max-height: 800px;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 섹션2 */


.sec02 .inner {
    width:1200px;
    height: 900px;
    flex: unset;
}

.sec02 h1 {
    width: 100%;
    text-align: center;
    padding: 40px 0 0 0;
    color: #00704A;
}

.sec02 .menus {
    width:100%;
    height: 100%;
    position: relative;
}

.sec02 img {
    width: 350px;
}

.sec02 .menus>div>a {
    display: flex;
    cursor: pointer;
}

.sec02 .menus>div:hover {
   animation-name:wiggle;-webkit-animation-name:wiggle;
   animation-duration:0.8s;
   -webkit-animation-duration:0.8s;
   -webkit-animation-iteration-count:infinite;}


   .sec02 .menus>div:first-child div{
    position: absolute;
    left: 320px; top:175px;
   }

   .sec02 .menus>div:nth-child(2) div{
    position: absolute;
    left: -40px; top:80px;
    text-align: right;
   }

   .sec02 .menus>div:nth-child(3) div{
    position: absolute;
    left: 300px; top:240px;
   }

   .sec02 .menus>div:nth-child(4) div{
    text-align: right;
    position: absolute;
    left: -40px; top:180px;
   }


.sec02 .menus>div h2 {
    font-size: 28px;
    font-weight: 700;}
    
.sec02 .menus>div p {
    color: #969696;
    font-weight: 700;
}

.sec02 .menus>div>div {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.sec02 .menus>div:first-of-type {
    position: absolute;
    z-index: 10;
    left:36px;
    top: 0px;
}

.sec02 .menus>div:nth-of-type(2) {
    position: absolute;
    z-index: 10;
    left: 200px;
    bottom: 80px;
}

.sec02 .menus>div:nth-of-type(3) {
    position: absolute;
    z-index: 10;
    right: 300px;
    bottom: 65px;
}

.sec02 .menus>div:nth-of-type(4) {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 83px;
}


/* 섹션3 */

.sec03 {
    width: 100%;
    background-color: var(--colorGreen);
}

.sec03 .inner {
    max-width:1440px;
    height: 896px;
    padding: 120px 16px 104px 16px;
    gap: 40px;
    align-items: center;
}

.sec03 .inner .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sec03 h1 {
    color: var(--colorWhite);
    display: inline;
    margin: 0 16px 0 0
}

.sec03 span {
    color: var(--colorWhite);
}

.sec03 .KateBox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
    height: 532px;
}

.sec03 .KateBox>.kategorie {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--colorRightGrey);
}

.sec03 .KateBox>.kategorie:first-of-type {
    background: #FCEDD8 url(/ex/3.imgs/6.krispykream/main-thumbnail01.jpg)no-repeat 50% 30% / 100%;}

.sec03 .KateBox>.kategorie:first-of-type:hover {
  background:#FCEDD8 url(/ex/3.imgs/6.krispykream/main-thumbnail01.jpg) 50% 30% / 120% no-repeat;
transition: all 0.5s;}


.sec03 .KateBox>.kategorie:nth-of-type(2) {
    background: #FCEDD8 url(/ex/3.imgs/6.krispykream/main-thumbnail02.jpg)no-repeat 50% 30% / 100%;}

.sec03 .KateBox>.kategorie:nth-of-type(2):hover {
    background: #FCEDD8 url(/ex/3.imgs/6.krispykream/main-thumbnail02.jpg) 50% 30% / 120% no-repeat;
  transition: all 0.5s;}


.sec03 .KateBox>.kategorie:nth-of-type(3) {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail03.jpg)no-repeat center / cover;}

    .sec03 .KateBox>.kategorie:nth-of-type(3):hover {
        background:url(/ex/3.imgs/6.krispykream/main-thumbnail03.jpg) 50% / 300% no-repeat;
      transition: all 0.5s;}


.sec03 .KateBox>.kategorie:nth-of-type(4) {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail04.jpg)no-repeat center / cover;}

    .sec03 .KateBox>.kategorie:nth-of-type(4):hover {
        background:url(/ex/3.imgs/6.krispykream/main-thumbnail04.jpg) 50% / 300% no-repeat;
      transition: all 0.5s;}

      .sec03 .KateBox>.kategorie:hover{
        transition: all 0.5s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }


.sec03 .KateBox>.kategorie>div {
    width: 100%;
    height: 162px;
    background: var(--colorWhite);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 28px;
}

.sec03 .KateBox>.kategorie:hover>div{
    background: var(--colorGreen);
    transition: all 0.5s;
}


.sec03 .KateBox>.kategorie h3 {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.25rem;
    line-height: 1.4;
}

.sec03 .KateBox>.kategorie p {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 4px 0;
}

.sec03 .KateBox>.kategorie span {
    font-size: 0.75rem;
    line-height: 27px;
    color: var(--colorDarkGrey);
}

.sec03 .KateBox>.kategorie span {
    font-size: 0.75rem;
    line-height: 27px;
    color: var(--colorDarkGrey);
}

.sec03 button {display: none;}

.sec03 .KateBox>.kategorie:hover h3,
.sec03 .KateBox>.kategorie:hover p,
.sec03 .KateBox>.kategorie:hover span{
    color: var(--colorWhite);
    transition: all 0.5s;
}



/* 섹션4 */
.sec04 h1 {
    font-size: 90px;
    line-height: 1;
}

.sec04 p {
    font-size: 1.5rem;
}

.sec04 .left a.material-symbols-outlined {
    color: var(--colorDarkGrey);
}

.sec04 .right a.material-symbols-outlined {
    color: var(--colorDarkGrey);
}

.sec04 {
    width: 100%;
    height: 752px;
    display: flex;
    justify-content: center;
    position: relative;
}
.sec04>.inner{
    flex:1 1 50%;
    overflow: hidden;
}
.sec04>.inner:first-child {
    height: 100%;
    background:#FAF6EE;
    align-items: unset;
    padding-left: 240px;
}

.sec04>.inner:first-child:hover {
    flex:3 1 90%;
transition: flex 0.5s;}

.sec04>.inner:last-child {
    height: 100%;
    background:#D7FCEA;
    align-items: unset;
    padding-right: 240px;
}

.sec04>.inner:last-child:hover {
    flex:3 1 90%;
    transition: flex 0.5s;}


.sec04>div>.left {
    width: 100%;
    height: 752px;
    display: flex;
    background:url(/ex/3.imgs/6.krispykream/sec4/크리스피크림아이콘.svg) no-repeat 400px 50% / 531px 366px;
}

.sec04>div>.right {
    width: 100%;
    height: 752px;
    display: flex;
    background:url(/ex/3.imgs/6.krispykream/sec4/롯데잇츠logo.svg) no-repeat right 400px top 50% / 531px 366px;
    justify-content:flex-end;
}

.text-stroke {
    color:#fff;
    text-shadow:
    -1px -1px 0 var(--colorGreen),
    1px -1px 0 var(--colorGreen),
    -1px 1px 0 var(--colorGreen),
    1px 1px 0 var(--colorGreen);  
}

.sec04 .left_over,
.sec04 .right_over {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 43px;
}


.sec04 .left_over h1 {
    padding: 109px 0 0 0;
    color: var(--colorGreen);
    font-size: 90px;
    font-weight:700;
    z-index: 20;
}

.sec04 .inner .morebt {
    display: flex;
    align-items: center;
    z-index: 20;
}


.sec04 .inner .right_over {
    text-align: right;
    display: flex;
    flex-direction:column;
    justify-content:flex-end
}

.sec04 .inner .right_over h1 {
    order: 4;
    z-index: 20;
    padding: 0 0 109px 0;
}

.sec04 .inner .right_over p {
    order: 3;
    z-index: 20;
}

.sec04 .inner .right_over .morebt {
    justify-content: flex-end;
    z-index: 20;}


/* 섹션5 */

.sec05 {
    max-width: 1440px;
    height: 959px;
    background:#fff
}

.sec05 .inner {
    gap: 78px;
}

.sec05 .inner h1 {
    width:100%;
    text-align: center;
    padding: 116px 0 0 0;
    color:var(--colorGreen)
}

.sec05 .inner h2 {
    font-size: 40px;
    font-weight: 400;
}

.sec05 .inner > div {
    width: 100%;
    height: 588px;
    display: flex;
    align-items: flex-start;
    gap: 71px;
}

.sec05 .inner .twitter {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 58px;
    
}

.sec05 .inner .insta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.sec05 .inner > div > div >div {
display: flex;
align-items: flex-end;
gap: 8px;}

.sec05 .inner .insta > div + div{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    flex-wrap:wrap;
justify-items: flex-start;}

    .sec05 .instapic{width: 250px; height:250px;}

    .sec05 .instapic:hover{
filter: brightness(50%);
transition: all 0.3s;}


.sec05 .instapic:nth-of-type(1){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_1.png) no-repeat 50% 50% / cover; 
}

.sec05 .instapic:nth-of-type(2){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_2.png) no-repeat 50% 50% / cover; 
}

.sec05 .instapic:nth-of-type(3){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_3.png) no-repeat 50% 50% / cover; 
}

.sec05 .instapic:nth-of-type(4){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_4.png) no-repeat 50% 50% / cover; 
}

.sec05 .instapic:nth-of-type(5){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_5.png) no-repeat 50% 50% / cover;
}

.sec05 .instapic:nth-of-type(6){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_6.png) no-repeat 50% 50% / cover; 
}

.sec05 .instapic:nth-of-type(7){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_7.png) no-repeat 50% 50% / cover; 
}

.sec05 .instapic:nth-of-type(8){
    /* width: 232px; height: 232px; */
    background: url(/ex/3.imgs/6.krispykream/20230215_014520_8.png) no-repeat 50% 50% / cover; 
}


/* 푸터 */

footer {
    width: 100%;
    height: 480px;
    background: #41464e;
}

footer .inner {
   max-width: 1704px;
   padding: 0 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
}

footer .inner > div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
height: 100%;
padding: 0 0 80px 0;
align-items: flex-end;}

footer .footer_left{
    display: flex;
    align-items: center;
    gap: 61px;
}

footer ul {
    font-style:normal;
}
footer .bf::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 6px;
    width: 1px;
    height: 1rem;
    background: #fff;
}


footer ul li {
    color: var(--colorWhite);
    line-height: 2;
    display: inline-block;
    position: relative;
    padding:0 20px 0 0;
}

footer .footer_bottom{
    width: 100%;
    height: 222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer .footer_bottom > .footer_left{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
}

footer .footer_bottom > .footer_right{
    display: flex;
    margin: 0 0 0 20px;
}

footer .footer_bottom > .footer_right a{
    width: 35px; height: 35px;
    margin: 0 0 0 20px;}


footer .fa-brands {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.5);
}

select{
    width: 216px; height: 48px;
  appearance: none;
  background: url(/ex/3.imgs/6.krispykream/footer/화살표.svg) no-repeat 95% 50%;
background-size: 20px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    filter: invert(75%);
    font-family: 'Noto Sans KR', sans-serif;
}

option {
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    font-size: 14px;
    font-weight: 700;
}