@charset "utf-8";

html,
body {
    min-width: 320px;
}

.sec01>h1 {
    padding: 0 32px;
}

.sec01>ul {
    justify-content:space-around;
    padding: 0 32px;
gap: 8px;
    }

    
.sec02 h1 {
    font-size: 1.875rem;
text-align: center;
}

.sec02>.inner {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.sec01>ul>li>a {
    font-size: 1.25rem;
}