@charset "utf-8";

/* 크리스피크림도넛 태블릿 */


html,
body {
    min-width: 641px;
    width: 100%;
    overflow-x: hidden;
}

div.inner {
    width: 100%;
}

h1 {
    line-height: 1.4;
}


/* 헤더 */

header {
    width: 100%;
    width: 100%;
    height: 80px;
}

header .inner {
    width: 100%;
    padding: 0 32px
}

div.innerLogo {
    width: auto;
}

.innerLogo, .innerMenu {
    flex: unset;
}

ul {
    display: none;
}


div.section > .sec01 {
    width: 100%;
}

.global {
    display: none;
}

nav .gnb {
    padding: unset;
    display: none
}

.btn.menu-toggle{
    display: flex;
position: absolute;
top: 0; right: 10px;
padding: 0;
width: 56px; height: 56px;
z-index: 2;
align-items: center;
overflow: visible;
margin: 0;
background-color: transparent;
}

.btn{
    text-align: center;
    cursor: pointer;
    border: unset;
}

button{
    font-family: inherit;
}

.material-symbols-outlined{
    padding: 25px 0 0 0;
    font-size: 40px;
    font-weight: 400;
    color: var(--colorMarjenta);
}


/* 섹션1 */

.sec01 > .inner {
    max-width: 1024px;
    min-width: 641px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;

}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    width: 100%;
    height: auto;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-slide video {
    width: 100%;
    height: 100%;
}


/* 섹션2 */

.sec02 .inner {
    width: 100%;
    align-items: center;
}

.sec02 h1 {
    padding: 80px 20px 0 20px;
    width: 100%;
    align-items: center;
}


.sec02 .menus {
    width: 100%;
    height: 768px;
}

.sec02 img {
    width: 240px;
}

.sec02 .menus > div {
    position: absolute;
}

/* 메뉴텍스트 */

.sec02 .menus>div:first-child div{
    position: absolute;
    left:160px; top:20px;
   }

   .sec02 .menus>div:nth-child(2) div{
    position: absolute;
    left: 180px; top:80px;
   }

   .sec02 .menus>div:nth-child(3) div{
    position: absolute;
    left:0px; top:140px;
   }

   .sec02 .menus>div:nth-child(4) div{
    position: absolute;
    left: -40px; top:180px;
   }


/* 메뉴이미지 */


.sec02 .menus>div:first-of-type {
    z-index: 10;
    left: 80px;
    top: 80px;
}

.sec02 .menus>div:nth-of-type(2){
    z-index: 10;
    left: 80px;
    bottom: 120px;
}

.sec02 .menus>div:nth-of-type(3) {
    z-index: 10;
    right: 80px;
    bottom: 48px;
}

.sec02 .menus>div:nth-of-type(4) {
    z-index: 10;
    right: 80px;
    top: 120px;
}


/* 섹션3 */
.sec03 {
    height: 846px;
}

.sec03 .inner {
    width: 100%;
    height: 100%;
    padding: 120px 0 90px 0;
    align-items: center;
}

.sec03 .inner .title {
    justify-content: center;
}

.sec03 .KateBox {
    padding: 0 16px 0 16px;
    width: 100%;
    gap: 16px;
}

.sec03 .KateBox>.kategorie:first-of-type {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail01.jpg)no-repeat center / cover;}

.sec03 .KateBox>.kategorie:first-of-type:hover {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail01.jpg)no-repeat center / cover;}


.sec03 .KateBox>.kategorie:nth-of-type(2) {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail02.jpg)no-repeat center / cover;}

.sec03 .KateBox>.kategorie:nth-of-type(2):hover {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail02.jpg)no-repeat center / cover;}


.sec03 .KateBox>.kategorie:nth-of-type(3) {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail03.jpg)no-repeat center / cover;}

    .sec03 .KateBox>.kategorie:nth-of-type(3):hover {
        background: url(/ex/3.imgs/6.krispykream/main-thumbnail03.jpg)no-repeat center / cover;}


.sec03 .KateBox>.kategorie:nth-of-type(4) {
    background: url(/ex/3.imgs/6.krispykream/main-thumbnail04.jpg)no-repeat center / cover;}

    .sec03 .KateBox>.kategorie:nth-of-type(4):hover {
        background: url(/ex/3.imgs/6.krispykream/main-thumbnail04.jpg)no-repeat center / cover;}


      .sec03 .KateBox>.kategorie:hover{
        transition: all 0.5s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

.sec03 .KateBox > .kategorie span {
    font-size: 0.625rem;
    line-height: 1;
}

.sec03 .title > div > span,
.sec03 .addBt {
    display: none;
}


.sec03 .KateBox > .kategorie:nth-of-type(4) {
    display: none;
}

.sec03 button {display: block;
    width: 104px; height: 40px;
    color: #FFFFFF;
    border:  1px solid #FFFFFF;
    background-color: var(--colorGreen);
    border-radius: 20px;
}

.sec03 button:hover {
    background-color: var(--colorGreen);
    filter: brightness(80%);
    transition: all 0.3s;
}




/* 섹션4 */

.sec04 > div {
    padding: 0 34px;
}

.sec04 > div > .left {
    width: 100%;
}


.sec04 .left_over,
.sec04 .right_over {
    padding: unset;
}

.sec04 .inner .right_over{
    padding: 213px 0 0 0;
}

.sec04 .left_over h1 {
    padding: 80px 0 0 0;
}

.sec04 > div > .left img {
    right: 24px;
}

.sec04 > div > .right img {
    left: 24px;
}



/* 섹션5 */


.sec05 {
    max-width:1024px;
    height:865px;}

    .sec05 .inner {gap: unset;}

.sec05 .inner .twitter {
    display: none;
}

.sec05 .inner h1 {
    padding: 70px 0 78px 0;
}

.sec05 .inner > div {
    width: 100%;}

    .sec05 .inner .insta{
        width: 100%;    }

    .sec05 .inner > div > div >div {align-items: center;
    justify-content: center;
}

.sec05 .inner .insta > div + div {
    height:100%;
    align-content:center

}

    .sec05 .instapic{
        flex: 1 1 25%;
    }

    .sec05 .instapic:nth-of-type(8),
    .sec05 .instapic:nth-of-type(7) {
        display: none;
    }


/* 푸터 */
footer {
    padding: 32px 0;
    height: auto;
}

footer .inner {
    width: 100%;
}

footer .footer_bottom {
    padding: 32px 0 0 0;
    height: auto;
}